#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# (!) see OpenSSH Certificate Authority guide at
# https://github.com/vedetta-com/vedetta/blob/master/src/usr/local/share/doc/vedetta/OpenSSH_Principals.md

#Port 22
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# https://man.openbsd.org/sshd_config.5#HostKeyAlgorithms
#HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-ed25519
#HostCertificate /etc/ssh/ssh_host_ed25519_key-cert.pub

#TrustedUserCAKeys /etc/ssh/ca/.ssh/ssh_ca_ed25519.pub
#RevokedKeys /etc/ssh/ca/ssh_ca.krl

# https://man.openbsd.org/sshd_config.5#CASignatureAlgorithms
#CASignatureAlgorithms ssh-ed25519

# Ciphers and keying
#RekeyLimit default none

# Logging
#SyslogFacility AUTH
#LogLevel INFO

# Authentication:

AllowGroups wheel dsync

LoginGraceTime 1m # default: 2m
PermitRootLogin no
#StrictModes yes
#MaxAuthTries 6
#MaxSessions 10

#PubkeyAuthentication yes
# http://man.openbsd.org/sshd_config.5#PubkeyAcceptedKeyTypes
#PubkeyAcceptedKeyTypes ssh-ed25519-cert-v01@openssh.com,ssh-ed25519

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
#AuthorizedKeysFile	none # default: .ssh/authorized_keys

# http://man.openbsd.org/sshd_config.5#AuthorizedPrincipalsFile
#AuthorizedPrincipalsFile /etc/ssh/principals/%u # default: none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
#HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
#IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
#PasswordAuthentication no # default: yes
#PermitEmptyPasswords no

# Change to no to disable s/key passwords
#ChallengeResponseAuthentication yes

#AllowAgentForwarding yes
AllowTcpForwarding no # default: yes
#GatewayPorts no
#X11Forwarding no
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
#PrintMotd yes
#PrintLastLog yes
#TCPKeepAlive yes
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
#UseDNS no
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
Banner /etc/ssh/sshd_banner # default: none

# override default of no subsystems
Subsystem	sftp	internal-sftp	# internal-sftp for ChrootDirectory
					# default: /usr/libexec/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server

Match Group wheel
	AllowTcpForwarding yes
#	PermitOpen host:port

Match User dsync
	AllowTcpForwarding no
	PasswordAuthentication no
	Banner none
